* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F4274;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

dialog button,
header button {
    max-width: 200px;
    background-color: #fe9c5f;
    font-family: inherit;
    font-size: 20px;
    border-radius: 10px;
    color: #2f4274;
    cursor: pointer;
    box-shadow: 0 0 10px #eb692b;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: none;
    }
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 0 20px 0;
}

.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.counts {
    display: flex;
    gap: 40px;
    color: #eb692b;
    font-size: 26px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    max-width: 940px;
    width: 100%;
    padding: 0 20px;

    gap: 20px;
}

li {
    width: calc((100% - 20px * 3) / 4);
    text-align: center;
}


img {
    width: 140px;
    height: 140px;
}

button {
    border: none;
    background-color: #525faab3;
    border-radius: 20px;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    outline: none;
}

dialog {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 20px;
}

.content-wrapper {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 20px 0 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    tr {
        display: flex;
        border-top: 1px solid #e48d55;

        td:last-of-type,
        th:last-of-type {
            border-right: 1px solid #e48d55;
        }
    }

    th,
    td {
        flex: 1;
        padding: 5px;
        border-left: 1px solid #e48d55;
    }

    tbody {
        tr:last-of-type {
            border-bottom: 1px solid #e48d55;
        }
    }
}

body:has(dialog[open]) {
    overflow: hidden;
}